@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Northwind</h1>
    <h1><a class="d-block" asp-area="" asp-controller="Products" asp-action="Index">Products</a></h1>
    <h1><a class="d-block" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></h1>
</div>
